{{ form_start(form, {'action': action}) }}

<div class="modal-title">
    <h5>{{ title }}</h5>
</div>
<div class="modal-content">
    <div class="row">
        <div class="input-field col s6">
            {{ form_widget(form.title) }}
            <label for="template[title]">Имя</label>
            <span class="red-text">{{ form_errors(form.title) }}</span>
        </div>
        <div class="input-field col s6">
            {{ form_widget(form.alias) }}
            <label for="template[alias]">Alias</label>
            <span class="red-text">{{ form_errors(form.alias) }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            <label>
                {{ form_widget(form.isActive) }}
                <span>Активен</span>
            </label>
        </div>
        <div class="col s3">
            <label>
                {{ form_widget(form.isPrivate) }}
                <span>Приватный</span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#wysiwyg-wrap">WYSIWYG</a></li>
                <li class="tab col s6"><a href="#editor-wrap">Code editor</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12" id="editor-wrap">
            {{ form_widget(form.text) }}
            <div id="editor" class="editor--space"></div>
            <span class="red-text" id="code_editor_error">{{ form_errors(form.text) }}</span>
        </div>
        <div class="input-field col s12" id="wysiwyg-wrap">
            <textarea id="editor-wysiwyg" class="editor--space"></textarea>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn waves-effect waves-light" type="submit" name="action">{{ button_label|default('Сохранить') }}</button>
    <button class="form-close waves-effect waves-green btn-flat" type="reset" name="reset">Отменить</button>
    <div class="feedback-message" id="feedback"></div>
</div>

{{ form_end(form) }}
<script src="{{ asset('assets/vendor/ace/ace.js') }}"></script>
<script src="{{ asset('assets/vendor/ace/mode-twig.js') }}"></script>
<script src="{{ asset('assets/vendor/ace/theme-github.js') }}"></script>
<script src="{{ asset('assets/vendor/ckeditor/ckeditor.js') }}"></script>


<script>
    $(function () {
        var invalidMessage = 'Ошибка на сервере, обратитесь к администратору';
        var sucessMessage = 'Успешно сохранено!';

        M.updateTextFields();
        $('.tabs').tabs();

        $('[name="template"]').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: $(this).attr('action'),
                data: $(this).serialize(),
                beforeSend: function( xhr ) {
                    $('.progress').fadeTo(0, 1);
                    $('[type="submit"]').prop('disabled', true);
                },
                success: function(data, textStatus, xhr) {
                    if (xhr.getResponseHeader('content-type') === 'application/json') {
                        $('#feedback').addClass('light-green').text(sucessMessage).fadeTo(0, 1);
                        setTimeout(function () {
                            location.reload();
                        }, 1000);
                    } else {
                        $('#modal_content').html(data);
                    }
                },

                error: function(data, textStatus, xhr) {
                    $('#feedback').addClass('red').text(invalidMessage).fadeTo(0, 1);
                },
                complete: function( xhr ) {
                    $('.progress').fadeTo(0, 0);
                },
            });
        });

        $('.form-close').click(function (e) {
            $('#edit-form').empty().hide();
        });

    });

    var textarea = $('#template_text');
    $('#editor').text(textarea.val());
    $('#editor-wysiwyg').text(textarea.val());

    var editor_wysiwyg = CKEDITOR.replace( 'editor-wysiwyg' );
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/github");
    editor.getSession().setMode("ace/mode/twig");
    editor.setShowPrintMargin(true);
    textarea.val(editor.getSession().getValue());
    editor.getSession().on("change", function () {
        textarea.val(editor.getSession().getValue());
    });
    editor_wysiwyg.on('change', function (e) {
        textarea.val(e.editor.getData());
        editor.getSession().setValue(e.editor.getData());
    });



</script>