{% extends 'base.html.twig' %}

{% block title %}Template{% endblock %}

{% block body %}
    <h1>Template</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ template.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ template.title }}</td>
            </tr>
            <tr>
                <th>Alias</th>
                <td>{{ template.alias }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ template.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsPrivate</th>
                <td>{{ template.isPrivate ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ template.text }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('template_index') }}">back to list</a>

    <a href="{{ path('template_edit', {'id': template.id}) }}">edit</a>

    {{ include('template/_delete_form.html.twig') }}
{% endblock %}