{% extends 'base.html.twig' %}
{% block title %}Журнал действий{% endblock %}

{% block inner %}
    {{ parent() }}

    <h2>Журнал действий</h2>

    <div class="row">
        <form method="post" action="{{ path('action_log_index') }}" name="filter">
            <div class="input-field col s3">
                <select name="entity">
                    <option value="" {{ filters.entity is defined ? '' : 'selected' }}>Все разделы</option>
                    {% for entity in entities %}
                        <option value="{{ entity.entity }}" {% if filters.entity is defined %}{{ entity.entity == filters.entity ? 'selected' }} {% endif %}>{{ entity.entity }}
                        </option>
                    {% endfor %}
                </select>
                <label>Выберите раздел</label>
            </div>
            <div class="input-field col s3">
                <input type="text" class="datepicker date_from" name="date_from"
                       value="{{ filters.date_from is defined ? filters.date_from : '' }}"/>
                <label>Дата от</label>
            </div>
            <div class="input-field col s3">
                <input type="text" class="datepicker date_to" name="date_to"
                       value="{{ filters.date_to is defined ? filters.date_to }}"/>
                <label>Дата до</label>
            </div>
            <div class="input-field col s3">
               <p class="right-align">
                   <a href="javascript:;" id="filters_clear">Сбросить фильтры</a>
               </p>
            </div>
        </form>

    </div>
    <div id="list">
        {% include 'action_log/_list.html.twig' with {'logs': logs, 'pagination': pagination} %}
    </div>

    <div id="log_modal" class="modal modal--local">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        <div id="modal_content">
            <div class="col s12">
                <ul id="diff_content"></ul>
            </div>
        </div>
    </div>

    <script src="{{ asset('assets/vendor/ace/ace.js') }}"></script>
    <script src="{{ asset('assets/vendor/ace/mode-twig.js') }}"></script>
    <script src="{{ asset('assets/vendor/ace/theme-github.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            {% if  filters.date_from is defined %}
            $('.date_from').datepicker({'setDate': {{ filters.date_from }}});
            {% endif %}
            {% if  filters.date_to is defined %}
            $('.date_to').datepicker({'setDate': {{ filters.date_to }}});
            {% endif %}
        });
    </script>

{% endblock %}
