{{ form_start(form, {'action': action}) }}
<div class="modal-title">
    <h5>{{ title }}</h5>
</div>
<div class="modal-content">
    <div class="row">
        <div class="input-field col s12">
            {{ form_widget(form.name) }}
            <label for="dispatch[name]">Название</label>
            <span class="red-text">{{ form_errors(form.name) }}</span>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            {{ form_widget(form.subject) }}
            <label for="dispatch[subject]">Тема</label>
            <span class="red-text">{{ form_errors(form.subject) }}</span>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s4">
            {{ form_widget(form.send_list) }}
            <label for="dispatch[nameFrom]">Список рассылки</label>
            <span class="red-text">{{ form_errors(form.send_list) }}</span>
        </div>
        <div class="input-field col s4">
            {{ form_widget(form.template) }}
            <label for="dispatch[template]">Шаблон</label>
            <span class="red-text">{{ form_errors(form.template) }}</span>
        </div>
        <div class="input-field col s4">
            {{ form_widget(form.status) }}
            <label for="dispatch[status]">Статус</label>
            <span class="red-text">{{ form_errors(form.status) }}</span>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            {{ form_widget(form.name_from) }}
            <label for="dispatch[nameFrom]">Имя отправителя</label>
            <span class="red-text">{{ form_errors(form.name_from) }}</span>
        </div>
        <div class="input-field col s6">
            {{ form_widget(form.email_from) }}
            <label for="dispatch[emailFrom]">Email отправителя</label>
            <span class="red-text">{{ form_errors(form.email_from) }}</span>
        </div>
        <div class="input-field col s6">
            {{ form_widget(form.email_cc) }}
            <label for="dispatch[emailCc]">Копия</label>
            <span class="red-text">{{ form_errors(form.email_cc) }}</span>
        </div>
        <div class="input-field col s6">
            {{ form_widget(form.email_bcc) }}
            <label for="dispatch[emailBcc]">Скрытая копия</label>
            <span class="red-text">{{ form_errors(form.email_bcc) }}</span>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input type="text" class="datepicker dateSend" name="dateSend"
                   value="{{ dispatch.dateSend is defined ? dispatch.dateSend }}"/>
            <label>Дата отправки</label>
        </div>
        <div class="input-field col s6">
            <input type="text" class="timepicker timeSend" name="timeSend"
                   value="{{ dispatch.timeSend is defined ? dispatch.timeSend }}"/>
            <label>Время отправки</label>
        </div>
    </div>

</div>
<div class="modal-footer">
    <div class="feedback-message" id="feedback"></div>
    <button class="modal-close waves-effect waves-green btn-flat" type="reset" name="reset">Отменить</button>
    <button class="btn waves-effect waves-light" type="submit" name="action">{{ button_label|default('Сохранить') }}</button>
</div>

{{ form_end(form) }}
<script>
    $(function () {
        var invalidMessage = 'Ошибка на сервере, обратитесь к администратору';
        var sucessMessage = 'Успешно сохранено!';

        M.updateTextFields();

        $('select').formSelect();
        $('.timepicker').timepicker({
            'twelveHour': false,
            'autoClose': true,
            'showClearBtn': true,
        });

        var instance = M.Timepicker.getInstance($('.timepicker'));
        $('.datepicker').datepicker({
            'firstDay': 1,
            'format': 'dd.mm.yyyy',
            'showClearBtn': true,
            'autoClose': true,
            'onSelect': function (date) {
                instance.open();
            }
        });


        $('[name="dispatch"]').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: $(this).attr('action'),
                data: $(this).serialize(),
                beforeSend: function( xhr ) {
                    $('.progress').fadeTo(0, 1);
                    $('[type="submit"]').prop('disabled', true);
                },
                success: function(data, textStatus, xhr) {
                    if (xhr.getResponseHeader('content-type') === 'application/json') {
                        $('#feedback').addClass('light-green').text(sucessMessage).fadeTo(0, 1);
                        setTimeout(function () {
                            location.reload();
                        }, 1000);
                    } else {
                        $('#modal_content').html(data);
                    }
                },

                error: function(data, textStatus, xhr) {
                    $('#feedback').addClass('red').text(invalidMessage).fadeTo(0, 1);
                },
                complete: function( xhr ) {
                    $('.progress').fadeTo(0, 0);
                },
            });
        });

    });
</script>
