<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Дата отправки</th>
        <th>От кого, имя | email</th>
        <th>Статус</th>
        <th class="center-align">Подробно</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        {% for dispatch in dispatches %}
            <tr>
                <td>{{ dispatch.id }}</td>
                <td>{{ dispatch.name }}</td>
                <td>{{ dispatch.dateSend|date('d.m.Y H:i:s') }}</td>
                <td>{{ dispatch.nameFrom}} | {{ dispatch.emailFrom}}</td>
                <td>{{ dispatch.status.name}}</td>
                <td class="center-align"><a href="#dispatch_modal"  data-action="{{ path('dispatch_show', {'id': dispatch.id}) }}" class="get_modal">
                        <i class="far fa-eye" title="Посмотреть подробности"></i>
                    </a>
                </td>
                    <td>
                        {% if dispatch.status.editable%}
                        <a href="#send_list_modal" data-action="{{ path('dispatch_edit', {'id': dispatch.id}) }}" class="get_modal">
                            <i class="far fa-edit" title="Редактировать элемент"></i>
                        </a>
                        {% endif %}
                    </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Нет записей</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if(total and total/count > 1) %}
    {{ pagination|raw }}
{% endif %}
