<div class="modal-title">
    <h5>{{ title }}</h5>
</div>
<div class="modal-content">
    <div class="row">
        <div class="col s12">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ dispatch.id }}</td>
                    </tr>
                    <tr>
                        <th>Название</th>
                        <td>{{ dispatch.name }}</td>
                    </tr>
                    <tr>
                        <th>Тема</th>
                        <td>{{ dispatch.subject }}</td>
                    </tr>
                    <tr>
                        <th>От кого, имя | email</th>
                        <td>{{ dispatch.nameFrom }} | {{  dispatch.emailFrom }}</td>
                    </tr>
                    <tr>
                        <th>Дата создания</th>
                        <td>{{ dispatch.datetime ? dispatch.datetime|date('d.m.Y H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Дата рассылки</th>
                        <td>{{ dispatch.dateSend|date('d.m.Y H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Шаблон</th>
                        <td>{{ dispatch.template.title }}</td>
                    </tr>
                    <tr>
                        <th>Список рассылки</th>
                        <td>{{ dispatch.sendList.name }}</td>
                    </tr>
                    <tr>
                        <th>Количество email</th>
                        <td>{{ dispatch.sendList.emails|split('\n')|length }}</td>
                    </tr>
                    <tr>
                        <th>Копия | Скрытая копия</th>
                        <td>{{ dispatch.emailCc ? dispatch.emailCc : '-' }} | {{ dispatch.emailBcc ? dispatch.emailBcc : '-' }}</td>
                    </tr>
                    <tr>
                        <th>Статус</th>
                        <td>{{ dispatch.status.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="modal-close waves-effect waves-green btn-flat" type="reset" name="reset">Отменить</button>
</div>
