{% extends 'base.html.twig' %}
{% block title %}Списки рассылки{% endblock %}

{% block inner %}
    {{ parent() }}
    <h2>Списки рассылки</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Количество email</th>
            <th>Дата создания</th>
            <th>Автор</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for send_list in send_lists %}
            <tr>
                <td>{{ send_list.id }}</td>
                <td>{{ send_list.name }}</td>
                <td>
                    <a href="#send_list_modal" data-action="{{ path('send_list_edit', {'id': send_list.id}) }}" class="get_modal">
                        {{ send_list.emails|split('\n')|length }}
                    </a>
                </td>
                <td>{{ send_list.createdAt ? send_list.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ send_list.UserId.fullname }}</td>
                <td>
                    <a href="#send_list_modal" data-action="{{ path('send_list_edit', {'id': send_list.id}) }}" class="get_modal">
                        <i class="far fa-edit" title="Редактировать элемент"></i>
                    </a>
                </td>
                <td>
                    <form method="post" action="{{ path('send_list_delete', {'id': send_list.id}) }}" onsubmit="return confirm('Вы уверены?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ send_list.id) }}">
                        <button class="button--no-style"><i class="far fa-trash-alt" title="Удалить элемент"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ pagination|raw }}

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light red modal-trigger"
           data-action="{{ path('send_list_new') }}" href="#send_list_modal" id="create_entity">
            <i class="material-icons">add</i>
        </a>
    </div>

    <div id="send_list_modal" class="modal">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        <div id="modal_content"></div>
    </div>

{% endblock %}
