{{ form_start(form, {'action': action}) }}
<div class="modal-title">
    <h5>{{ title }}</h5>
</div>
<div class="modal-content">
    <div class="row">
        <div class="input-field col s5">
            {{ form_widget(form.fullname) }}
            <label for="user[fullname]">Имя</label>
            <span class="red-text">{{ form_errors(form.fullname) }}</span>
        </div>
        <div class="input-field col s5">
            {{ form_widget(form.email) }}
            <label for="user[email]">Email</label>
            <span class="red-text">{{ form_errors(form.email) }}</span>
        </div>
        <div class="input-field col s2">
            <label>
                {{ form_widget(form.isActive) }}
                <span>Активен</span>
                <span class="red-text">{{ form_errors(form.isActive) }}</span>
            </label>
        </div>
    </div>
    {% if form.password is defined %}
        <div class="row">
            <div class="input-field col s6">
                {{ form_widget(form.password.first) }}
                <label for="user[password][first]">Пароль</label>
                <span class="red-text">{{ form_errors(form.password.first) }}</span>
            </div>
            <div class="input-field col s6">
                {{ form_widget(form.password.second) }}
                <label for="user[password][second]">Подтвердите пароль</label>
                <span class="red-text">{{ form_errors(form.password.second) }}</span>
            </div>
        </div>
    {% endif %}
</div>
<div class="modal-footer">
    <div class="feedback-message" id="feedback"></div>
    <button class="modal-close waves-effect waves-green btn-flat" type="reset" name="reset">Отменить</button>
    <button class="btn waves-effect waves-light" type="submit" name="action">{{ button_label|default('Сохранить') }}</button>
</div>

</div>
{{ form_end(form) }}
<script>
    $(function () {
        var invalidMessage = 'Ошибка на сервере, обратитесь к администратору';
        var sucessMessage = 'Успешно сохранено!';

        M.updateTextFields();

        $('#user_api').change(function () {
            if (this.checked){
                $('[for="api_generate"]').text('api-ключ будет сгенерирован автоматически')
            }else if($('[for="api_generate"]').val().length == 0){
                $('[for="api_generate"]').text('api-ключ')
            }
        });

        $('[name="user"]').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: $(this).attr('action'),
                data: $(this).serialize(),
                beforeSend: function( xhr ) {
                    $('.progress').fadeTo(0, 1);
                    $('[type="submit"]').prop('disabled', true);
                },
                success: function(data, textStatus, xhr) {
                    if (xhr.getResponseHeader('content-type') === 'application/json') {
                        $('#feedback').addClass('light-green').text(sucessMessage).fadeTo(0, 1);
                        setTimeout(function () {
                            location.reload();
                        }, 1000);
                    } else {
                        $('#modal_content').html(data);
                    }
                },

                error: function(data, textStatus, xhr) {
                    $('#feedback').addClass('red').text(invalidMessage).fadeTo(0, 1);
                },
                complete: function( xhr ) {
                    $('.progress').fadeTo(0, 0);
                    $('[type="submit"]').prop('disabled', false);
                },
            });
        });
    });
</script>
